*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-color: #2f303a;
}

header {
  border-bottom: 1px solid #ececec;
  background: var(--white-color);
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

footer {
  background: var(--footer-color);
}

address {
  font-style: normal;

  line-height: 1.71;
  margin-top: 20px;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.img-no-gap {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container .section {
  padding-top: 0px;
  padding-bottom: 94px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo */

.logo-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--accent-color);

  text-decoration: none;
}

.logo-black {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);

  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-white {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--white-color);
  text-decoration: none;
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: none;
}

/* List */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Site nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: 331px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact .link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--footer-color);
  text-align: center;
}

.hero-heading {
  display: block;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  padding-top: 200px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin-top: 30px;
  margin-bottom: 200px;
}

.button-center {
  /* Заказать услугу */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
}

/* Features */

.features .list {
  display: flex;
  flex-wrap: wrap;
}

.feature-card {
  width: 270px;

  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}

.feature-card:nth-child(4n) {
  margin-right: 0px;
}

.features .title {
  color: var(--secondary-text-color);

  font-size: 36px;
  line-height: 1.16;

  letter-spacing: 0.03em;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  margin-bottom: 10px;
}

.features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

/* Work */

.project {
  display: flex;
  flex-wrap: wrap;

  width: 370px;

  margin-top: 30px;
  margin-right: 30px;
}
.project:nth-child(3n) {
  margin-right: 0px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
}

.btm-border {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  padding: 20px 24px;
}

.work-item {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 30px;
}

.work .title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--secondary-text-color);
}

.work .list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.list.item::nth-child(3n) {
  margin-right: 0px;
}

.work-item:nth-child(3n) {
  margin-right: 0px;
}

/* Team */

.team {
  background-color: var(--secondary-background-color);
}

.team .card {
  width: 270px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team .list {
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;
}

.member-title {
  top: 1925px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team .text {
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}

.list .card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: 30px;
}

.card:nth-child(4n) {
  margin-right: 0px;
}

.bottom-card {
  padding: 30px 0px;
}

/* Button */

.buttons {
  display: flex;
  justify-content: center;
}

.buttons .item + .item {
  margin-left: 8px;
}

.button {
  cursor: pointer;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border-radius: 4px;

  text-align: center;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;

  padding: 6px 22px;
}
.button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-background-color);
}
.button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-background-color);
}

.button.marketing:hover,
.button.marketing:focus,
.button.design:hover,
.button.design:focus,
.button.app:hover,
.button.app:focus,
.button.site:hover,
.button.site:focus,
.button.all:hover,
.button.all:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters .button {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

/* Projects */

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.features .title,
.projects-title,
.filters .title {
  visibility: hidden;
}

p {
  line-height: 30px;

  letter-spacing: 0.03em;
}

/* Footer */

.address .item + .item {
  margin-top: 9px;
}

/* Links */
.map {
  color: var(--white-color);
  text-decoration: none;
}
.address .map:hover,
.address .map:focus {
  color: var(--accent-color);
}

.address .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
.project-cards a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.project-cards a:hover,
.project-cards a:focus {
  color: var(--accent-color);
}
